body {
  font-family: 'Roboto';
  color: #F5F5F5;
  cursor: default;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#city {
  font-size: 4em;
}

#w_text {
  font-size: 3em;
}

#temp {
  font-size: 5em;
}

#w_icon {
  font-size: 5em;
}

a {
  color: inherit;
  cursor: pointer;
  transition: color 1s ease;
}

a:hover {
  text-decoration: none;
  color:#0D4F8B;
}